<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <meta name="robots" content="noindex, nofollow" />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <!--
    Base Global Header component
    https://www.lightningdesignsystem.com/components/global-header/
  -->

  <header class="slds-global-header_container">

  </header>
  </main>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>

  <div class="slds-box" style="background-color:white;padding:0px;">
    <div style="background-color:rgb(243, 242, 242);padding:4px;">
        <div class="slds-text-heading_large slds-text-align_center">Event Sharing</div>
        <div class="slds-grid slds-gutters">
          <div class="slds-col slds-size_2-of-4">
              <div class="slds-form-element">
                <label class="slds-form-element__label" ></label>
                <div class="slds-form-element__control">
                  <div class="slds-form-element">
                    <label class="slds-checkbox_toggle slds-grid">
                      <span class="slds-form-element__label slds-grid_vertical-align-center slds-m-bottom_small slds-text-align_right">Allow everyone to edit event</span>
                      <input type="checkbox" name="checkbox-toggle-14" value="checkbox-toggle-14" aria-describedby="checkbox-toggle-14" checked="" />
                      <span id="checkbox-toggle-14" class="slds-checkbox_faux_container" aria-live="assertive">
                        <span class="slds-checkbox_faux"></span>
                        <span class="slds-checkbox_on">Enabled</span>
                        <span class="slds-checkbox_off">Disabled</span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
          </div>
        <div class="slds-col slds-size_2-of-4 slds-align-bottom">
          <div class="slds-m-bottom_small">
            <a href="/GridCheckBoxes.html" class="slds-align_absolute-center"><button class="slds-button slds-button_neutral">Edit Event Sharing</button></a>
          </div>
        </div>
      </div>
    </div>
    <div style="padding-left:12px;padding-right:12px" class="slds-border_bottom">
    </div>
  </div>
</body>
</html>
