<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <meta name="robots" content="noindex, nofollow" />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <!--
    Base Global Header component
    https://www.lightningdesignsystem.com/components/global-header/
  -->

  <header class="slds-global-header_container">

  </header>
  </main>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>

  <div class="slds-box" style="background-color:white;padding:0px;">
    <div style="background-color:rgb(243, 242, 242);padding:4px;">
      <div class="slds-text-heading_large slds-text-align_center">Event Editing Permissions</div>
    </div>

    <div class="slds-form-element slds-text-align--center" role="group" aria-labelledby="picklist-group-label">
      <!--<span id="picklist-group-label" class="slds-form-element__label slds-form-element__legend">Allow Editing</span>-->
      <div class="slds-form-element__control">
        <div class="slds-dueling-list slds slds-align-content-center">
          <div class="slds-assistive-text" id="drag-live-region" aria-live="assertive"></div>
          <div class="slds-assistive-text" id="option-drag-label">Press space bar when on an item, to move it within the list. CMD plus left and right arrow keys, to move items between lists.</div>
          <div class="slds-dueling-list__column">
            <span class="slds-form-element__label slds-text-heading--medium" id="label-7">May Not Edit Event</span>
            <div class="slds-dueling-list__options">
              <ul aria-describedby="option-drag-label" aria-labelledby="label-7" aria-multiselectable="true" class="slds-listbox slds-listbox_vertical" role="listbox">
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="0">
                    <span class="slds-media__body">
                      <span class="slds-truncate" title="Option 1">Test User 1</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                      <span class="slds-truncate" title="Option 2">Test User 3</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 3">Test User 6</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 3">Test User 7</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 3">Test User 8</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 3">Test User 9</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 3">Test User 10</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 6">Test User 11</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 6">Test User 12</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 6">Test User 13</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 6">Test User 13</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 6">Test User 12</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 6">Test User 12</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 6">Test User 12</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 6">Test User 12</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 6">Test User 12</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 6">Test User 12</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 6">Test User 12</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 6">Test User 12</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 6">Test User 12</span>
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="slds-dueling-list__column">
            <button class="slds-button slds-button_icon slds-button_icon-container" title="Move Selection to Second Category">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#right"></use>
              </svg>
              <span class="slds-assistive-text">Move Selection to Second Category</span>
            </button>
            <button class="slds-button slds-button_icon slds-button_icon-container" title="Move Selection to First Category">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#left"></use>
              </svg>
              <span class="slds-assistive-text">Move Selection to First Category</span>
            </button>
          </div>
          <div class="slds-dueling-list__column">
            <span class="slds-form-element__label slds-text-heading--medium" id="label-8">Allowed to Edit Event</span>
            <div class="slds-dueling-list__options">
              <ul aria-describedby="option-drag-label" aria-labelledby="label-8" aria-multiselectable="true" class="slds-listbox slds-listbox_vertical" role="listbox">
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="0">
                    <span class="slds-media__body">
                      <span class="slds-truncate" title="Option 4">Test User 2</span>
                    </span>
                  </div>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1">
                    <span class="slds-media__body">
                     <span class="slds-truncate" title="Option 5">Test User 4</span>
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div style="padding-left:12px;padding-right:12px; padding-bottom:12px " class="slds-border_bottom">
    </div>
  </div>
  <footer class="slds-modal__footer">
    <button class="slds-button slds-button_neutral">Cancel</button>
    <button class="slds-button slds-button_brand">Save</button>
  </footer>

</body>
</html>
