<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Event Sharing W-006144</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--small">
    <h1 class="slds-text-heading--large slds-text-align_center">
      Event Sharing UI Prototyping
    </h1>
    <p class="slds-text-body--regular slds-m-vertical--large">Intent: rapid prototyping of UI elements related to story W-006144 - Event Sharing.</p>
    <hr />
    <p class="slds-text-body_regular">


    <h2 class="slds-text-heading--medium slds-m-top--large">Event Record Page UI Elements</h2>

    <p class="slds-text-body--regular slds-m-top--large">Event Record Page </p>
    <p class="slds slds-text-body_small">We are considering adding a UI element to the Event record page that would provide users with information about the current state of event sharing, as well as allow the user to change the overall event from view only to view/edit Mission-wide (account wide). </p>
    <br />
    <p class="sl slds-text-body_small">(note new UI element titled "Event Sharing" in right column below)</p>
    <a target="_blank" href="./assets/EventRecordPageDropdown.png"><img src="./assets/EventRecordPageDropdown.png" /> </a>
    <p></p><br />
    <p class="slds-text-body--small slds-m-top--large">A close-up view of one of the new proposed sharing components is pictured here along with some alternatives.  (Click to interact, then close the tab to return to this page)</p>
    <p></p><br />
    <a target="_blank" href="./EventPageSharingComponentDropdown.html"><img src="../assets/EventPageSharingComponentDropdown.png" /> </a>
    <p></p><br />
    <p class="slds-text-body_small">Using a toggle to restrict editing (Click to interact, then close the tab to return to this page)</p>
    <p></p><br />
    <a target="_blank" href="./EventPageSharingComponentToggleNeg.html"><img src="../assets/EventPageSharingToggleNeg.png" /> </a>
    <p></p><br />
    <p class="slds-text-body_small">Using a toggle to allow editing (Click to interact, then close the tab to return to this page)</p>
    <p></p><br />
    <a target="_blank" href="./EventPageSharingComponentTogglePos.html"><img src="../assets/EventPageSharingTogglePos.png" /> </a>

    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">Selection Modal to Allow a User to Edit an Event</h2>
    <p class="slds slds-text-body_small">Once an event is restricted to only certain users being able to edit it, the Event owner must select any additional users (if any) that will have rights to edit the event. This will take the form of a modal pop-up that must be closed before the user can return to the event.</p>
    <p></p><br />    <p class="slds-text-body_small">Modal Grid (Click to interact, then close the tab to return to this page)</p>
    <a target="_blank" href="./eventsharingmodalgrid.html"><img src="../assets/EventSharingModalGrid.png" /> </a>
    <p></p><br />
    <p class="slds-text-body_small">Modal Multi-Select Boxes (Click to interact, then close the tab to return to this page)</p>
    <a target="_blank" href="./EventSharingModalMultiSelect.html"><img src="../assets/EventSharingModalMulti.png" /> </a>




  </div>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
